*.a
*.gz
*.in
*.log
*.o
*.trs
*~
.deps/
.DS_Store
Makefile
tags

.*.s[a-v][a-z]
.*.sw[a-p]

/aclocal.m4
/ad-*.tar.gz
/ar-lib
/autom4te.cache/
/compile
/confdefs.h
/config.*
/configure
/conftest*
/depcomp
/docs/
/install-sh
/missing
/test-driver
/ylwrap
